.hero {
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;

    h1, h2 {
        text-align: center;
        text-transform: uppercase;
    }
}