* { box-sizing: border-box; }

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    height: 100%;
}
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $container-max-width;
    padding: 0 $baseline-grid*2;
}

.blade {
    display: flex;
    justify-content: center;
    padding: $baseline-grid*8 0;
}